.card-list {
  display: grid;
  grid-template-columns: 12vw 12vw 12vw 12vw;
  grid-template-rows: auto;
  margin: auto;
  width: 50vw;
}
.card {
  display: flex;
  flex-direction: column;
  width: 10vw;
  height: 10vw;
  border-style: solid;
  border-radius: 2vw;
  border-color: white;
  box-shadow: 0.2vw 0.2vw 1vw;
  margin-top: 5vw;
  justify-content: center;
}
#modal-root {
  border-style: solid;
  border-radius: 2vw;
  border-color: white;
  box-shadow: 0vw 0vw 7vw;
  position: absolute;
  top: 3vh;
  left: 3vw;
  height: 48vw;
  width: 94vw;
  z-index: 1;
}

.modal-controls{
  justify-content: right;
}

.modal-overlay{
  display: flex;
  flex-direction: column;
}

.modal-close {
  cursor: pointer;
}

.close-icon{
  width: 1vw;
  height: 2vh;
}